.card {
    position: relative; 
    background-color: #fff;
        
    border-radius: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s, box-shadow 0.2s;
    margin: 20px 0;
    flex: 1 10    calc(25% - 45px); 
    max-width: calc(25% - 10px);
} 

.card:hover {
    background:linear-gradient(to right, #d1e2f3 0%, #91b1d3 100%);
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
.card-image{

    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius:20px;
    }

    .profileSide{
        display: flex;
        padding-top: 10px ;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    }

.card-title, .card-location, .total-price, .card-details{
    /* color: white; */
}


}

 .bodyContainer{
    display: grid;
  grid-template-rows: repeat(1, 1fr);
  
     /* background: linear-gradient(to right, #99b9ed 0%, #bbd0f1 100%); */
    /* background-color: red; */
 }

 /* #mainRow{
    display: flex;

 } */

 /* #new1{
    display:grid;
    grid-template-columns:repeat(2, 1FR);

 } */


.card-image {
    /* margin: 10px 0px; */
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius:20px;

}

.card-fav-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    color: #ff4d4f;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
}

.card-fav-button:hover {
    transform: scale(1.1);
}

.card-body {
    padding: 15px;
    margin-top: 20px;
}


.card-rating {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.card-rating .rating-star {
    color: #ffc107;
    font-size: 18px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    /* color: red; */

    margin-bottom: 5px;
}

.card-location {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.card-pricing {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.card-pricing .strike-price {
    text-decoration: line-through;
    color: #888;
}

.card-pricing .discounted-price {
    font-size: 16px;
    font-weight: bold;
    color: #28a745;
}

.card-pricing .total-price {
    font-size: 14px;
    color: #333;
}
.loading {
    text-align: center;
    font-size: 24px;
    margin-top: 50px;
  }
  
  .error {
    text-align: center;
    color: red;
    font-size: 24px;
    margin-top: 50px;
  }

  .btnCo{
    border-radius: 10px;
    height: 30px;
    
  }


.card-details {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: #555;
}

/* Container for responsive layout */
.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .card {
        flex: 1 1 calc(50% - 20px);
        max-width: calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .card {
        flex: 1 1 calc(100% - 20px);
        max-width: calc(100% - 20px);
    }
}

.bodyContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px; 
  }

  .UIimg{
    margin-top: 50px;
    width: 100%;
    height: 400px;
  }
  .UIimg img{
    width: 100%;
    position: stick;
  }

  .watermarkhome{
    background-image: url('https://img.freepik.com/premium-photo/low-angle-view-house-against-sky_1048944-30844047.jpg?semt=ais_hybri');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;     
    display: flex;
    height: 300px;
    padding: 50px;
    
  }
  .watermarkhome img{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}
.innerwater{
    /* background-color: #ff4d4f; */
    padding: 50px 10px;
    width:150rem;
}

.search {
    img{
        margin:10px 50px ;
        height: 20rem;
        width: 30rem;
        border-radius: 30px;
    }
input{
    margin-left: -570px;
    margin-bottom: 20px;
} 
}


#new2{
    display: flex;
    /* justify-content:space-between; */
    gap: 2px;

img{
    border-radius: 40px;
    height: 20rem;
    margin:10px 40px;
    /* width: 50%; */
}
.img1{
    width: 60%;
    /* background: #fff; */
    background:linear-gradient(to right, #d1e2f3 0%, #91b1d3 100%);

    height: 20rem;
    border-radius: 40px;
    margin:10px 30px;
h3{
    font-family: 'Playfair Display', serif;
    padding: 30px;
    font-size: 20px;
    line-height: 35px;
    font-weight: 500;
    color:rgb(87, 76, 76);
}
}
}

#write{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#write h2 { 
    font-family: 'Playfair Display', serif;
    font-size: 50px ;
    border-bottom: 1px solid  rgb(9, 9, 121);
    padding-bottom: 10px;
    color: rgb(35, 2, 97);
}
#write p{
   color: rgb(128, 119, 119);
   font-size: 16px   ;
   padding-bottom: 100px;
}
 

.innerwater p {
    font-family: 'Playfair Display', serif;
         font-size: 15px;
         color: rgb(0, 0, 0);
         color: rgb(27, 31, 103);
         font-size: 25px;
         /* background-color: #ffffff; */
         padding: 20px;
         border-radius: 40px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.search{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 200px;
    margin-top: 65px;
    /* background-color: red; */
    
}


.search input{
    border:2px solid rgb(152, 188, 234);
  height: 20px;
  width: 300px;
  border-radius: 20px;
  /* margin-bottom:30px; */
}

.search p {
    font-family: 'Playfair Display', serif;
         font-size: 15px;
         color: rgb(0, 0, 0);
         /* background-color: #6b7dd5; */
         padding: 10px;
         border-radius: 50px;
         box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


.profileSide{
    
    display: none;
    /* gap: 40px; */
}

.profileSide button{
border: 1px solid rgb(12, 12, 143);
background-color: rgb(255, 253, 253);
color: rgb(12, 12, 143);
font-weight: bold;
}

/* .profileSide button:nth-child(2){
    background-color: rgb(83, 203, 151);
} */

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;

  }
  
  /* .popup-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 500px;
    width: 90%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
   */
  .popup-close-button {
   position: absolute;
    top: 10px;
    right: 10px;
    background-color: red;
    border: none;
    font-size: 18px;
    cursor: pointer;
  }
  