/* Basic reset */
body {
    font-family: Arial, sans-serif;
    /* background-color: #f5f5f5; */
    margin: 0;
    padding: 0;
  }
  
  .App {
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: #333;
  }
  
  .btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5x;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #45a049;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup-content {
    padding: 10px;
    margin: 50px;
    width: 100%;
    background-color: rgb(252, 245, 245);
    /* max-width: 400px; */
    border-radius: 20px;
    text-align: left;
  }
  
  h2 {
    text-align: center;
    font-weight: 600;
  }
  
  form label {
    display: block;
    margin-bottom: 10px;
    /* background-color: red;   */
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="number"],
  input[type="date"] {
    width: 100%;
    padding:5px;
    margin-top: 5px;
    margin-bottom: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .submit-btn:hover {
    background-color: #45a049;
  }
  
  .close-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .close-btn:hover {
    background-color: #e53935;
  }
  
