
body{
    background-color: #dee0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  #OuterNav{
     width: 100%;
     height: 300px ;
     /* border: 1px solid rgb(171, 165, 165); */
     /* background-color: red; */
     display: flex;
     justify-content: space-around;
     
  }

  #innerNav {
    width: 90%;
    height: 70px;  
    /* position: fixed; */
    /* background-color: yellow; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
  }

  #innerNav img{
    height: 80px;
    width: 100px;
  }


  nav {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: #081049;
    width: 70%;
    height: 60%;
    border-radius: 50px;
    border: 1px solid rgb(203, 171, 13);
   
  }
  a{
    text-decoration: none;
  color: rgb(208, 226, 9);
  font-weight: bold;
  font-size: 16px;
  }
#logo{
    width: 150px;
    height: 60px;
    border-radius: 50px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: Algerian;
    font-size: 26px;
    background-color: rgb(6, 6, 69);
  }
  
  .Link-points{
    height: 100%;
    width: 25%;
    /* border: 1px solid black; */
    background-color: #081049;
    border-radius: 50px; 
    display: flex;
  justify-content: space-around;
  align-items: center;
  transition: transform 0.9s ease, box-shadow 0.3s ease; 
  }

  
  .Link-points:hover{
    background-color: rgb(32, 29, 119);
    transform: scale(0.9);
  }

.watermark-div img{
    width: 100px;
    height: 60px;
    border-radius: 10px;
}

  .watermark-div{
    background-image: url('https://wallpapers.com/images/featured/house-u7pcf18vqolaatio.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center center;
  }

  .Loginlogo{
   border: 1px solid white;
   padding: 10px;
   border-radius: 30px;
  }